    <div class="main">
        <div class="confirmation_main">
            <div class="row confirmation_row confirmation_row1">ΕΠΙΤΥΧΗΣ ΕΓΓΡΑΦΗ</div>
            <div class="row confirmation_row">Η εγγραφή σας ολοκληρώθηκε με επιτυχία! </div>
            <div class="row confirmation_row"><a class="confirmation_a" href="/login">Συνδεθείτε στον νέο σας λογαριασμό!</a></div>
        
        </div>

    </div>
    