        <div class="content">
            <div>
                <h3>ΕΙΣΟΔΟΣ</h3>
            </div> 
            <form  method="POST"> 
            <div class="form-group">
                <label for="name">Όνομα</label>
                <input type="text" class="form-control input-box" id="name"  name="username" placeholder="Username" required>
                <div class="errors">
                    {{#if errorExist}}
                        <div>{{username_error}}</div>
                    {{/if}}
                </div>
            </div>
            <div class="form-group">
                <label for="password">Κωδικός</label>
                <input type="password" class="form-control input-box" id="password" name="password" placeholder="Κωδικός" required>
                <div class="errors">
                    {{#if errorExist}}
                        <div>{{password_error}}</div>
                    {{/if}}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">ΕΙΣΟΔΟΣ</button>
            </form>
            <p>Δεν έχετε λογαριασμό;
                <a href='/register'>Εγγραφή</a>
            </p>
        </div>
        

        <script>
                const username = document.getElementById("name").value = "{{name}}";
                
                
            </script>