    <div class="content">
        <h3 class="">Εγγραφή</h3>
                
        <form  method="POST">
            <div class="form-group">
                <label for="sign_up_username">Όνομα</label>
                <input type="text" class="form-control input-box" id="sign_up_username" name="username" placeholder="Όνομα" required>
                <div class="errors">
                    {{#if errorExist}}
                        <div>{{username_error}}</div>
                    {{/if}}
                </div>
            </div>
            <div class="form-group">
                <label for="sign_up_password">Κωδικός</label>
                <input type="password" class="form-control input-box" id="sign_up_password" name="password" placeholder="Κωδικός" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control input-box" id="email" name="email" placeholder="Email" required>
                <div class="errors">
                    {{#if errorExist}}
                        <div>{{email_error}}</div>
                    {{/if}}
                </div>
            </div>
            <div class="form-group">
                <label for="confirm">Επαλήθεσυη κωδικού</label>
                <input type="password" class="form-control input-box" id="confirm" name="confirm" placeholder="Επαλήθευση κωδικού" required>
            </div>
            <div class="form-group">
                <label for="city">Πόλη</label><br>
                <select class="mdb-select md-form input-box" id="city" name="city">
                    <option value="ΠΟΛΗ" selected>Πόλη</option>
                    <option value="ΑΘΗΝΑ">Αθήνα</option>
                    <option value="ΘΕΣΣΑΛΟΝΙΚΗ">Θεσσαλονικη</option>
                    <option value="ΠΑΤΡΑ">Πάτρα</option>
                    <option value="ΕΠΙΔΑΥΡΟΣ">Επίδαυρος</option>
                </select>
            </div>
            <button type="submit" id="submitButton" onclick="validatePassword()" class="btn btn-primary">ΕΓΓΡΑΦΗ</button>
        </form>

    </div> 

  


